$primary1: #7dccda;
$primary2: #31525B;
$primary2Dark: #1c2f35;
$background1: #FFA101;
$background2: #FAE6B1;
$background3: #F6F4EA;
$header: #1B1C20;
$body: #383A47;
$text3: #70727F;
$text4: #CDCED8;
$neutral: #FFF;
