@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
.row-cols-7 > * {
  flex: 0 0 auto;
  width: 14.2857142857%;
}

.p-7 {
  padding: 4.2rem;
}

.py-7 {
  padding-top: 4.2rem;
  padding-bottom: 4.2rem;
}

.px-7 {
  padding-left: 4.2rem;
  padding-right: 4.2rem;
}

.pt-7 {
  padding-top: 4.2rem;
}

.pb-7 {
  padding-bottom: 4.2rem;
}

.ps-7 {
  padding-left: 4.2rem;
}

.pe-7 {
  padding-right: 4.2rem;
}

.p-8 {
  padding: 4.8rem;
}

.py-8 {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

.px-8 {
  padding-left: 4.8rem;
  padding-right: 4.8rem;
}

.pt-8 {
  padding-top: 4.8rem;
}

.pb-8 {
  padding-bottom: 4.8rem;
}

.ps-8 {
  padding-left: 4.8rem;
}

.pe-8 {
  padding-right: 4.8rem;
}

@media (min-width: 768px) {
  .pt-md-7 {
    padding-top: 4.2rem !important;
  }
  .pt-md-8 {
    padding-top: 4.8rem !important;
  }
}
@media (min-width: 1200px) {
  .pt-xl-8 {
    padding-top: 4.8rem !important;
  }
}
.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Comfortaa", cursive !important;
}
body main {
  background-color: #F6F4EA;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #1B1C20 !important;
}
body p, body span, body div {
  color: #383A47 !important;
}
body button {
  background-color: #31525B !important;
  border-radius: 8px !important;
  border: none !important;
  color: #CDCED8 !important;
  padding: 10px 20px !important;
  font-weight: 600 !important;
  font-size: 1rem !important;
}
body button:hover {
  background-color: #1c2f35;
  transition: background 0.5s;
}
body input[type=search] {
  -webkit-appearance: none;
  border-radius: 8px;
  border: 2px solid black;
  height: 46px;
  width: 100%;
  text-indent: 44px;
}
body input[type=search]:focus {
  outline: black;
}
body .nav-link {
  color: #31525B;
}
body .nav-link:hover {
  color: #1c2f35;
}

div#sidebar {
  background-color: #FAE6B1;
  width: 97px;
  min-height: 100vh;
  padding: 16px;
  transition: width 0.5s;
}
div#sidebar img {
  max-width: none;
}
div#sidebar img.arrow {
  width: 25px;
  height: auto;
  cursor: pointer;
  display: block;
  margin: auto;
}
div#sidebar div.sidebarItems {
  position: sticky;
  height: fit-content;
  position: -webkit-sticky;
  top: 16px; /* required */
}
div#sidebar div#arrowOpen {
  position: relative;
}
div#sidebar div#arrowOpen img#logo {
  width: 150px;
  padding: 5px;
}
div#sidebar div#arrowOpen img.arrow {
  position: absolute;
  right: 12px;
  height: 100%;
  margin-left: auto;
}
div#sidebar ul#navIcons {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  position: relative;
}
div#sidebar ul#navIcons img {
  width: 65px;
  height: 65px;
}
div#sidebar ul#navIcons div.active {
  position: absolute;
  height: 78px;
  top: -7px;
  width: 125%;
  max-width: 264px;
  background-color: #F6F4EA;
  left: -8px;
  border-radius: 8px;
  transition: top 0.5s;
}
div#sidebar ul#navIcons li {
  margin: 16px 0;
  position: relative;
  overflow: hidden;
}
div#sidebar ul#navIcons li a {
  text-decoration: none;
  color: #383A47;
  overflow: hidden;
  font-size: 1.5rem;
}
div#sidebar ul#navIcons li a span {
  width: 100%;
  margin-left: 12px;
  position: absolute;
  white-space: nowrap;
  line-height: 65px;
}

main {
  background-color: #F6F4EA;
  min-height: 100vh;
}
main div.container-xxl {
  width: 50%;
  margin: auto;
}
@media (max-width: 1400px) {
  main div.container-xxl {
    width: 60%;
  }
}
@media (max-width: 1200px) {
  main div.container-xxl {
    width: 70%;
  }
}
@media (max-width: 768px) {
  main div.container-xxl {
    width: 95%;
  }
}
main div.container-xxl div.searchContainer {
  max-width: 844px;
}
main div.container-xxl div.searchContainer input[type=search] {
  max-width: 600px;
}
main div.container-xxl div.searchContainer img.searchIcon {
  width: 31px;
  position: absolute;
  top: 7px;
  left: 10px;
}
main div.container-xxl div.searchContainer img.makeBlog {
  filter: invert(91%) sepia(11%) saturate(150%) hue-rotate(197deg) brightness(89%) contrast(94%);
  width: 27px;
  height: 27px;
  margin-right: 5px;
}
main div.container-xxl div.card {
  border: 2px solid black;
  position: relative;
}
main div.container-xxl div.card div.recipeData {
  position: absolute;
  top: 5px;
  right: 5px;
  width: fit-content;
  border: 2px solid black;
  background-color: #FFF;
  border-radius: 8px;
}
main div.container-xxl div.card div.recipeData img {
  width: 30px;
}
main div.container-xxl div.card img.card-img-top {
  border-bottom: 2px solid black;
}
main div.container-xxl div.card div.card-body {
  min-height: 150px;
}
main div.container-xxl div.card div.posterData img {
  width: 40px;
  height: 40px;
  border-radius: 50rem;
  border: 2px solid black;
}
main div.container-xxl div.card img.like {
  width: 30px;
  height: 30px;
}

/*# sourceMappingURL=blog.css.map */
