@import 'sidebar';

main {
    background-color: $background3;

    div.container-xxl {
        width: 70%;
        margin: auto;

        @media (max-width: 768px) {
            width: 95% ;
        }

        div.searchContainer {

            & > div {
                width: 100%;
                max-width: 600px;
            }

            img.searchIcon {
                width: 31px;
                position: absolute;
                top: 7px;
                left: 10px;
            }
        }

        div.card {

            border: 2px solid black;
            border-radius: 8px;
            min-height: 200px;

            img.recipeImg {
                height: 100%;
                width: 100%;
                border-right: 2px solid black;
                border-radius: 6px 0 0 6px;

                @media (max-width: 768px) {
                    border-right: none;
                    border-bottom: 2px solid black;
                    border-radius: 6px 6px 0 0;
                }
            }

            img.recipeIcon {
                width: 40px;
            }

            div.card-body {
                min-height: 150px;
            }
        }
    }
}

