@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
.row-cols-7 > * {
  flex: 0 0 auto;
  width: 14.2857142857%;
}

.p-7 {
  padding: 4.2rem;
}

.py-7 {
  padding-top: 4.2rem;
  padding-bottom: 4.2rem;
}

.px-7 {
  padding-left: 4.2rem;
  padding-right: 4.2rem;
}

.pt-7 {
  padding-top: 4.2rem;
}

.pb-7 {
  padding-bottom: 4.2rem;
}

.ps-7 {
  padding-left: 4.2rem;
}

.pe-7 {
  padding-right: 4.2rem;
}

.p-8 {
  padding: 4.8rem;
}

.py-8 {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

.px-8 {
  padding-left: 4.8rem;
  padding-right: 4.8rem;
}

.pt-8 {
  padding-top: 4.8rem;
}

.pb-8 {
  padding-bottom: 4.8rem;
}

.ps-8 {
  padding-left: 4.8rem;
}

.pe-8 {
  padding-right: 4.8rem;
}

@media (min-width: 768px) {
  .pt-md-7 {
    padding-top: 4.2rem !important;
  }
  .pt-md-8 {
    padding-top: 4.8rem !important;
  }
}
@media (min-width: 1200px) {
  .pt-xl-8 {
    padding-top: 4.8rem !important;
  }
}
.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Comfortaa", cursive !important;
}
body main {
  background-color: #F6F4EA;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #1B1C20 !important;
}
body p, body span, body div {
  color: #383A47 !important;
}
body button {
  background-color: #31525B !important;
  border-radius: 8px !important;
  border: none !important;
  color: #CDCED8 !important;
  padding: 10px 20px !important;
  font-weight: 600 !important;
  font-size: 1rem !important;
}
body button:hover {
  background-color: #1c2f35;
  transition: background 0.5s;
}
body input[type=search] {
  -webkit-appearance: none;
  border-radius: 8px;
  border: 2px solid black;
  height: 46px;
  width: 100%;
  text-indent: 44px;
}
body input[type=search]:focus {
  outline: black;
}
body .nav-link {
  color: #31525B;
}
body .nav-link:hover {
  color: #1c2f35;
}

div#search {
  position: sticky;
  top: -30px;
  z-index: 20;
  background-color: #F6F4EA;
}
div#search div.row {
  max-width: 765px;
}
div#search div.row input[type=search] {
  max-width: 600px;
}
div#search div.row img.searchIcon {
  width: 31px;
  position: absolute;
  top: 7px;
  left: 10px;
}
@media screen and (max-width: 768px) {
  div#search {
    top: 0px;
  }
}

div.container-xxl {
  width: 70%;
  margin: auto;
}
@media screen and (max-width: 768px) {
  div.container-xxl {
    width: 82%;
  }
}
div.container-xxl div#grid div.col {
  border-style: solid;
  border-width: 13px;
  border-image: linear-gradient(to right, #31525b 0%, #31525b 21%, #48909C 21%, #48909C 21%, #48909C 22%, #48909C 100%) 1 0 1 0;
  background-color: white;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.container-xxl div#grid img.ingredient {
  width: 50px;
}
div.container-xxl div#grid div#blueColumns {
  min-width: calc(100% + 40px);
  left: -20px;
  min-height: calc(100% + 20px);
  top: -11px;
}
div.container-xxl div#grid div#blueColumns div.blueLine {
  width: 40px;
  background-color: #7dccda;
  height: 100%;
}
@media screen and (max-width: 768px) {
  div.container-xxl div#grid div#blueColumns div.blueLine {
    width: 33px;
  }
}

/*# sourceMappingURL=pantry.css.map */
