@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
.row-cols-7 > * {
  flex: 0 0 auto;
  width: 14.2857142857%;
}

.p-7 {
  padding: 4.2rem;
}

.py-7 {
  padding-top: 4.2rem;
  padding-bottom: 4.2rem;
}

.px-7 {
  padding-left: 4.2rem;
  padding-right: 4.2rem;
}

.pt-7 {
  padding-top: 4.2rem;
}

.pb-7 {
  padding-bottom: 4.2rem;
}

.ps-7 {
  padding-left: 4.2rem;
}

.pe-7 {
  padding-right: 4.2rem;
}

.p-8 {
  padding: 4.8rem;
}

.py-8 {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

.px-8 {
  padding-left: 4.8rem;
  padding-right: 4.8rem;
}

.pt-8 {
  padding-top: 4.8rem;
}

.pb-8 {
  padding-bottom: 4.8rem;
}

.ps-8 {
  padding-left: 4.8rem;
}

.pe-8 {
  padding-right: 4.8rem;
}

@media (min-width: 768px) {
  .pt-md-7 {
    padding-top: 4.2rem !important;
  }
  .pt-md-8 {
    padding-top: 4.8rem !important;
  }
}
@media (min-width: 1200px) {
  .pt-xl-8 {
    padding-top: 4.8rem !important;
  }
}
.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Comfortaa", cursive !important;
}
body main {
  background-color: #F6F4EA;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #1B1C20 !important;
}
body p, body span, body div {
  color: #383A47 !important;
}
body button {
  background-color: #31525B;
  border-radius: 8px;
  border: none;
  color: #CDCED8;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 1rem;
}
body button:hover {
  background-color: #1c2f35;
  transition: background 0.5s;
}
body input[type=search] {
  -webkit-appearance: none;
  border-radius: 8px;
  border: 2px solid black;
  height: 46px;
  width: 100%;
  text-indent: 44px;
}
body input[type=search]:focus {
  outline: black;
}
body .nav-link {
  color: #31525B;
}
body .nav-link:hover {
  color: #1c2f35;
}

div.container-xxl {
  width: 90%;
  margin: auto;
}
div.container-xxl img.searchIcon {
  position: absolute;
  top: 7px;
  left: 10px;
  width: 31px;
}
div.container-xxl div#runningLowBox {
  border: 2px solid black;
  background-color: #FFF;
  border-radius: 8px;
}
div.container-xxl div#runningLowBox div.col-12 {
  display: flex;
  border-bottom: 1px solid black;
  padding: 0;
  margin-bottom: 10px;
}
div.container-xxl div#runningLowBox div.col-12 img {
  width: 50px;
}
div.container-xxl div#runningLowBox div.col-12 span {
  align-self: end;
  font-size: 1.1rem;
}
div.container-xxl div#pad {
  background-color: #FFF;
  position: relative;
  border: 8px solid black;
  border-radius: 40px;
  min-height: 80vh;
}
div.container-xxl div#pad div#clip {
  border: 8px solid black;
  border-radius: 20px 20px 30px 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  background-color: #31525B;
  height: 80px;
  width: 40%;
}
@media (max-width: 768px) {
  div.container-xxl div#pad div#clip {
    height: 60px;
    width: 45%;
    top: -25px;
  }
}
div.container-xxl div#pad div.ingredients {
  max-height: 77vh;
  overflow: scroll;
}
div.container-xxl div#pad div.ingredients div.col-12 {
  display: flex;
  border-bottom: 1px solid black;
  padding: 0;
  margin-bottom: 10px;
}
div.container-xxl div#pad div.ingredients div.col-12 img {
  width: 50px;
}
div.container-xxl div#pad div.ingredients div.col-12 div.ms-auto div.check {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0px;
  margin-top: 6px;
  margin-right: 5px;
  background-color: #7dccda;
  border: 4px solid #31525B;
  border-radius: 8px;
  padding: 0 !important;
}
div.container-xxl div#pad div.ingredients div.col-12 div.ms-auto div.check input[type=checkbox] {
  position: absolute;
  left: -3px;
  top: -4px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  z-index: 5;
  opacity: 0;
}
div.container-xxl div#pad div.ingredients div.col-12 div.ms-auto div.check input[type=checkbox] + span.check {
  display: inline-block;
  opacity: 0;
  font-size: 30px;
  color: #31525B !important;
  font-weight: 900;
  position: relative;
  top: -4px;
  left: -4px;
  width: 30px;
  height: 30px;
}
div.container-xxl div#pad div.ingredients div.col-12 div.ms-auto div.check input[type=checkbox]:checked + span {
  opacity: 1;
  transition: opacity 0.3s;
}
div.container-xxl div#pad div.ingredients div.col-12 div.ms-auto div.check span.check1 {
  height: 4px;
  width: 10px;
  display: inline-block;
  background-color: #31525B;
  position: absolute;
  transform: rotate(40deg);
  top: 13px;
  left: 8px;
  z-index: 2;
}
div.container-xxl div#pad div.ingredients div.col-12 div.ms-auto div.check span.bg-check {
  position: absolute;
  top: 7px;
  right: -2px;
  width: 25px;
  height: 10px;
  background-color: #7dccda;
  border-radius: 0 2px 3px 0;
  transform: rotate(-50deg);
  display: flex;
  overflow: visible;
  justify-content: end;
}
div.container-xxl div#pad div.ingredients div.col-12 div.ms-auto div.check span.bg-check span.check2 {
  width: 80%;
  height: 4px;
  align-self: center;
  background-color: #31525B;
}
div.container-xxl div#pad div.ingredients div.col-12 div.ms-auto img {
  display: block;
  width: 30px;
}
div.container-xxl div#pad div.ingredients div.col-12 span {
  align-self: end;
  font-size: 1.1rem;
  position: relative;
  font-weight: 600;
  color: #31525B !important;
}
div.container-xxl div#pad div.ingredients div.col-12 span span.line {
  position: absolute;
  display: inline-block;
  top: 13px;
  width: 0;
  height: 2px;
  background-color: #31525B;
  transition: width 1s;
}

/*# sourceMappingURL=shopping.css.map */
