@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
.row-cols-7 > * {
  flex: 0 0 auto;
  width: 14.2857142857%;
}

.p-7 {
  padding: 4.2rem;
}

.py-7 {
  padding-top: 4.2rem;
  padding-bottom: 4.2rem;
}

.px-7 {
  padding-left: 4.2rem;
  padding-right: 4.2rem;
}

.pt-7 {
  padding-top: 4.2rem;
}

.pb-7 {
  padding-bottom: 4.2rem;
}

.ps-7 {
  padding-left: 4.2rem;
}

.pe-7 {
  padding-right: 4.2rem;
}

.p-8 {
  padding: 4.8rem;
}

.py-8 {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

.px-8 {
  padding-left: 4.8rem;
  padding-right: 4.8rem;
}

.pt-8 {
  padding-top: 4.8rem;
}

.pb-8 {
  padding-bottom: 4.8rem;
}

.ps-8 {
  padding-left: 4.8rem;
}

.pe-8 {
  padding-right: 4.8rem;
}

@media (min-width: 768px) {
  .pt-md-7 {
    padding-top: 4.2rem !important;
  }
  .pt-md-8 {
    padding-top: 4.8rem !important;
  }
}
@media (min-width: 1200px) {
  .pt-xl-8 {
    padding-top: 4.8rem !important;
  }
}
.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Comfortaa", cursive !important;
}
body main {
  background-color: #F6F4EA;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #1B1C20 !important;
}
body p, body span, body div {
  color: #383A47 !important;
}
body button {
  background-color: #31525B !important;
  border-radius: 8px !important;
  border: none !important;
  color: #CDCED8 !important;
  padding: 10px 20px !important;
  font-weight: 600 !important;
  font-size: 1rem !important;
}
body button:hover {
  background-color: #1c2f35;
  transition: background 0.5s;
}
body input[type=search] {
  -webkit-appearance: none;
  border-radius: 8px;
  border: 2px solid black;
  height: 46px;
  width: 100%;
  text-indent: 44px;
}
body input[type=search]:focus {
  outline: black;
}
body .nav-link {
  color: #31525B;
}
body .nav-link:hover {
  color: #1c2f35;
}

div.container-xxl {
  width: 90%;
  margin: auto;
}
div.container-xxl div#calendar {
  border: 8px solid black;
  border-radius: 50px;
  text-align: center !important;
  position: relative;
}
div.container-xxl div#calendar div#hangers {
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  position: absolute;
  width: 75%;
  margin: auto !important;
  border-left: 8px solid black;
  border-right: 8px solid black;
  height: 45px;
}
div.container-xxl div#calendar div#calendarHeader {
  background-color: #7dccda;
  border-bottom: 8px solid black;
  border-radius: 40px 40px 0 0;
}
div.container-xxl div#calendar div#calendarBody {
  background-color: #FFF;
  border-radius: 0 0 40px 40px;
  font-size: 2rem;
  font-weight: 600;
  color: #31525B;
}
@media (max-width: 768px) {
  div.container-xxl div#calendar div#calendarBody {
    font-size: 1.5rem;
  }
}
div.container-xxl div#calendar div#calendarBody div#selectedDay {
  position: absolute;
  top: 180px;
  z-index: 1;
  width: 40px;
  height: 40px;
  background-color: #FAE6B1;
  border-radius: 50%;
}
div.container-xxl div#calendar div#calendarBody div.row {
  margin: 5px 0;
}
div.container-xxl div#calendar div#calendarBody div.row > * {
  z-index: 2;
}
div.container-xxl div#calendar div#calendarBody div.row .day {
  cursor: default;
}
div.container-xxl div#pad {
  background-color: #FFF;
  position: relative;
  border: 8px solid black;
  border-radius: 40px;
}
div.container-xxl div#pad img#edit {
  width: 27px;
}
div.container-xxl div#pad h1, div.container-xxl div#pad h3 {
  color: #31525B;
}
div.container-xxl div#pad div#clip {
  border: 8px solid black;
  border-radius: 20px 20px 30px 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  background-color: #31525B;
  height: 80px;
  width: 40%;
}
@media (max-width: 768px) {
  div.container-xxl div#pad div#clip {
    height: 60px;
    width: 45%;
    top: -25px;
  }
}
div.container-xxl div#pad div.recipe {
  width: 80%;
  margin: auto;
  border: 4px solid black;
  border-radius: 8px;
  height: fit-content;
  min-height: 100px;
  max-height: 120px;
}
div.container-xxl div#pad div.recipe h4 {
  font-size: large;
}
div.container-xxl div#pad div.recipe div.col-5 {
  border-right: 4px solid black;
  background-color: red;
}
div.container-xxl div#pad div.recipe div.col-5 img {
  border-radius: 4px 0 0 4px;
}
div.container-xxl div#pad div.recipe img.add {
  width: 50px;
  height: auto;
}

/*# sourceMappingURL=weekly.css.map */
